In [3]:
import pandas as pd
import os
from tqdm.notebook import trange, tqdm

from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder

In [4]:
nba_teams = teams.get_teams()

In [5]:
team_name_append = []
team_id_append = []

for i in nba_teams:
    team_name_append.append(i["full_name"])
    team_id_append.append(i["id"])

team_table = pd.DataFrame({"team_name":team_name_append, "team_id":team_id_append})
team_table.to_csv("data/team_ids.csv", index=False)
team_table

                 team_name     team_id
0            Atlanta Hawks  1610612737
1           Boston Celtics  1610612738
2      Cleveland Cavaliers  1610612739
3     New Orleans Pelicans  1610612740
4            Chicago Bulls  1610612741
5         Dallas Mavericks  1610612742
6           Denver Nuggets  1610612743
7    Golden State Warriors  1610612744
8          Houston Rockets  1610612745
9     Los Angeles Clippers  1610612746
10      Los Angeles Lakers  1610612747
11              Miami Heat  1610612748
12         Milwaukee Bucks  1610612749
13  Minnesota Timberwolves  1610612750
14           Brooklyn Nets  1610612751
15         New York Knicks  1610612752
16           Orlando Magic  1610612753
17          Indiana Pacers  1610612754
18      Philadelphia 76ers  1610612755
19            Phoenix Suns  1610612756
20  Portland Trail Blazers  1610612757
21        Sacramento Kings  1610612758
22       San Antonio Spurs  1610612759
23   Oklahoma City Thunder  1610612760
24         Toronto Raptors  1610612761
25               Utah Jazz  1610612762
26       Memphis Grizzlies  1610612763
27      Washington Wizards  1610612764
28         Detroit Pistons  1610612765
29       Charlotte Hornets  1610612766

In [8]:
os.path.join(save_filepath, team_name + ".csv")

'data/houston_rockets_1610612745/houston_rockets_1610612745.csv'

In [9]:
for index, row in tqdm(team_table.iterrows()):
    team_id = row["team_id"]
    team_name = row["team_name"].lower().replace(" ", "_")
    team_name = team_name + "_" + str(team_id)
    
    save_filepath = f"data/{team_name}"
    os.mkdir(save_filepath)

    gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team_id)
    games = gamefinder.get_data_frames()[0]

    output_filepath = os.path.join(save_filepath, team_name + ".csv")

    games.to_csv(output_filepath, index=False)